
<% if current_user.admin == true %>
<h2>Create New User</h2>

<%= form_for(@user, :as => :user, url: user_registration_path, method: :post) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :first_name %><br />
  <%= f.text_field :first_name %></div>

  <div><%= f.label :last_name %><br />
  <%= f.text_field :last_name %></div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :admin%>:
  <%= f.select :admin, [true, false] %> </div><br >

  <div><%= f.submit "Create User" %></div>

<% end %>

<%= render "devise/shared/links" %>
<% else %>
<h2> You must be an Admin to create users </h2>
<% end %>