

    <div class="row">
      <div class="col-sm-9">
        <% if params[:q] %>
        <h2>Customer results for "<%=params[:q]%>"</h2>
        <% else %>
        <h2>Customers</h2>
        <% end %>
      </div>
      <div class="col-sm-3">
        <%= button_to "Create new Customer", new_customer_path, method: :get, class: "btn btn-primary btn-lg" %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <%= form_tag(customers_path, method: "get") do %>
          <%= label_tag(:q, "Search for Customer:") %>
          <%= text_field_tag(:q, nil, placeholder:"First or Last Name") %>
          <%= submit_tag("Search", class:"btn btn-sm btn-primary") %>
        <% end %>
        <br>
        <table class="table">
          <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Pending Orders</th>
          </tr>
        <% @customers.each do |customer| %>
          <tr>
            <td>
            <%= link_to(customer) do %>
              <span class="glyphicon glyphicon-user"></span>
              <strong><%= customer.first_name %> <%= customer.last_name %></strong> 
            <% end %>
            </td>
            <td><%= customer.address %> <%= customer.city %> <%= customer.state %></td> 
            <td><%= number_to_phone(customer.phone_num, area_code: true) %></td>
            <td><%= customer.email %></td>
            <td>
              <% customer.orders.each do |order| %>
                <%= link_to(order)  do %>
                  <span class="glyphicon glyphicon-list-alt"></span>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
        </table>
      </div>
      <div>
        <div> All customers emails </div>
        <% @all_customers_email.each do |email| %>
          <span><%= email %>,</span>
        <% end %>
      </div>
    </div>
