
<% if @customer %>
  <div class="row">
    <div class="col-sm-9">
      <h2><%= "#{@customer.first_name}" %> <%="#{@customer.last_name}" %></h2>
    </div>
  </div>
  <div class="row" >
    <div class="col-sm-3">
      <h4>Address Info </h4>
        <p><%= "#{@customer.address}" %></p>
        <p><%= "#{@customer.city}" %>, <%= "#{@customer.state}" %> <%= "#{@customer.zip_code}" %></p>
        <h4>Contant Info</h4>
        <p>Main Phone: <%= number_to_phone(@customer.phone_num, area_code: true) %> </p>
        <p>Alternate Phone: <%= number_to_phone(@customer.alt_phone_num, area_code: true) %></p>
        <p>Email: <%="#{@customer.email}" %></p>
      <%= button_to "Edit Info", edit_customer_path(@customer), method: :get, class:"btn btn-default" %>
    </div>
    <div class="col-sm-5">
      <div class="row">
        <h3> Pending Orders </h3>
        <table class="table table-striped">
          <tr>
            <th>Store</th>
            <th>Placed</th>
            <th>Products</th>
          </tr>
          <% @orders.each do |order| %>
            <% if order.complete == false %>
                <tr>
                  <td> <span class="glyphicon glyphicon-list-alt"></span>
                  <%= link_to (order_path(order)) do %>
                    <strong><%= order.store_location %> </strong>
                  <% end %>
                  </td>
                  <td> <%= order.placed_date.strftime("%m/%d/%Y") %> </td>
                  <td> 
                   <% order.products.each do |product| %>
                    <p class="glyphicon glyphicon-tag"> <%= "#{product.company}" %> <%= "#{product.model_type}" %></p><br>
                  <% end %>
                  </td>
                </tr>
            <% end %>
          <% end %>
        </table>
      </div>
      <div class="row">
        <h3> Completed Orders </h3>
        <table class="table table-striped">
          <tr>
            <th>Store</th>
            <th>Placed</th>
            <th>Products</th>
          </tr>
          <% @orders.each do |order| %>
            <% if order.complete == true %>
              <tr>
                <td> <span class="glyphicon glyphicon-list-alt"></span>
                  <%= link_to (order_path(order)) do %>
                    <strong><%= order.store_location %> </strong>
                  <% end %>
                </td>
                <td> <%= order.placed_date %> </td>
                <td> 
                  <% order.products.each do |product| %>
                    <p class="glyphicon glyphicon-tag"> <%= "#{product.company}" %> <%= "#{product.model_type}" %></p><br>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </table>
      </div>
    </div>
    <div class="col-sm-4">
    <%= render "orders/new", object: @customer %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-9"></div>
    <div class="col-sm-3">
  
    </div>
<% end %>





