<h3> Create New Order</h3>

<%= form_for @order, as: :order, url: orders_path, method: :post do |f| %>
  <%= f.label :placed_by %>:
  <%= f.text_field :placed_by, value: "#{@user.first_name}" %><br>

  <%= f.label :placed_date%>:
  <%= f.date_select :placed_date, value: "#{Time.now.asctime}"  %><br>

  <%= f.label :follow_up_date %>:
  <%= f.date_select :follow_up_date, value: "#{Time.now.asctime}"%><br>

  <%= f.label :store_location %>:
  <%= f.select :store_location, ["Oakland","San Bruno","San Rafael"], value:"Oakland" %><br>

  <%= f.text_field :customer_id, type: "hidden", value: "#{@customer.id.to_i}" %>

  <%= f.submit "Start Order", class:"btn btn-primary"%>

<% end %>