<h2> Edit your order for  <%= "#{@customer.first_name}" %> <%= "#{@customer.last_name}" %> </h2>
<div class="row">
  <div class="col-md-2">
    <%= render "products/new", object: @order %>
  </div>
  <div class="col-md-6" id ="order-products">
    <% if @products.length >= 1 %>
      <h3> Current Products </h3>
      <table class="table table-striped">
        <tr>
          <th>Company</th>
          <th>Model</th>
          <th>Description</th>
          <th>Price</th>
        </tr>
        <% @products.each do |product| %>
          <tr>
            <td><%=product.company %></td>
            <td><%=product.model_type %></td>
            <td><%=product.description %></td>
            <td>$<%=format_price(product.price) %></td>
            <%= form_for product, method: :delete do |f| %>
            <td>
              <%= f.hidden_field :order_id, value: "#{@order.id}" %>
              <%= f.submit value: "Delete", class: "btn-danger" %>
              <% end %>
            </td>
          </tr>
        <% end %> 
      </table>
    <%else%>
      <h3> No Products in Order </h3>
    <% end %>
  </div>
  <div class="col-md-4">
    <%= form_for @order, url: {action: "update"} do |f| %>
      <%= f.label :placed_by %>:
      <%= f.text_field :placed_by, value: "#{@order.placed_by}" %><br />

      <%= f.label :placed_date%>:
      <%= f.date_select :placed_date, value: "#{Time.now.asctime}"  %><br />

      <%= f.label :follow_up_date %>:
      <%= f.date_select :follow_up_date, value: "#{@order.follow_up_date}"%><br />

      <%= f.text_field :customer_id, type: "hidden", value: "#{@customer.id.to_i}" %>

      <%= f.label :items_total %>:
      <%=  "$ #{format_price(@order.items_total)}" %><br />

      <%= f.label :tax %>:
      <%= "$ #{format_price(@order.tax)}" %><br />

      <%= f.label :total_with_tax %>:
      <%= "$ #{format_price(@order.total_with_tax)}" %><br />

      <%= f.label :delivery %>:
      <span class="add-on">$</span>
      <%= f.number_field :delivery, value: "#{@order.delivery}" %><br />

      <%= f.label :assembly %>:
      <span class="add-on">$</span>
      <%= f.text_field :assembly, value: "#{@order.assembly}" %><br />

      <%= f.label :grand_total %>:
      <%= "$ #{format_price(@order.grand_total)}" %><br />

      <%= f.label :deposit %>:
      <span class="add-on">$</span>
      <%= f.text_field :deposit, value: "#{@order.deposit}" %><br />

      <%= f.label :balance_due %>:
      <%= "$ #{format_price(@order.balance_due)}" %><br />

      <%= f.label :notes %>:<br>
      <%= f.text_area :notes, value: "#{@order.notes}" %><br />

      <%= f.label :purchased_by %>:
      <%= f.text_field :purchased_by, value: "#{@order.purchased_by}" %><br />

      <%= f.label :gift_note %>: <br>
      <%= f.text_area :gift_note, value: "#{@order.gift_note}" %><br />

      <%= f.label :complete %>:
      <%= f.select :complete, ["true", "false"], value:"#{@order.complete}" %><br/>

      <%= f.submit "Update Order", class: "btn-primary"%>
    <% end %>
  </div>
</div>
