<h2>Recent Orders</h2>
<div class="row" >
<% @orders.each do |order| %>
<div class="col-sm-3" >
<%= link_to (edit_order_path(order)) do %>
<button>
  <br>
  <% if order.customer %>
    <h4> <%= order.customer.first_name %>
    <%= order.customer.last_name %>
    </h4>
  <%end%>
  <br>
  <p> Placed on: <%= order.placed_date %> </p>
  </button>
  <% end %>
  
  <br>
  <%= link_to "Delete", order_path(order), confirm: 'Are you sure?', method: :delete %>
  <br>
  </div>
<% end %>
</div>