<h2>Today's Follow Ups</h2>
<div class="row" >
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Products</th>
      <th>Notes</th>
    </tr>
    <% @follow_ups.each do |order| %>
      <tr>
          <td> <span class="glyphicon glyphicon-list-alt"></span>
            <%= link_to (order_path(order)) do %>
              <strong> <%= order.customer.first_name %> <%= order.customer.last_name %> </strong>
            <% end %>
          </td>
          <td><%= order.customer.phone_num %></td>
          <td> 
            <% order.products.each do |product| %>
              <%= product.company %> <%= product.model_type %>
            <% end %>
          </td>
          <td> 
            <%= form_for order, as: :order, url: "/orders/#{order.id}", method: :put do |f| %>
              <%= hidden_field_tag "follow_up_page", "true" %>
              <%= f.text_field :notes, value: "#{order.notes}", style:"width:300px" %>
              <%= f.submit "Make Note", class:"btn btn-sm btn-default" %>
            <% end %>
          </td>
        
      </tr>
  <% end %>
  </table>
</div>

<h2>Pending Orders</h2>
<div class="row" >
  <div class="col-sm-4">
    <h3>Oakland</h3>
      <table class="table">
        <tr>
          <th>Name</th>
          <th>Placed Date</th>
        </tr>
        <% @orders.each do |order| %>
          <% if order.complete == false && order.store_location == "Oakland" %>
            <tr>
              <td><span class="glyphicon glyphicon-list-alt"></span>
              <%= link_to(order_path(order)) do %>
                <strong><%= order.customer.first_name %> <%= order.customer.last_name %></strong> 
              <% end %>
              </td>
              <td><%= order.placed_date %></td> 
            </tr>
          <% end %>
        <% end %>
      </table>
  </div>
  <div class="col-sm-4">
    <h3>San Bruno</h3>
    <table class="table">
        <tr>
          <th>Name</th>
          <th>Placed Date</th>
        </tr>
        <% @orders.each do |order| %>
          <% if order.complete == false && order.store_location == "San Bruno" %>
            <tr>
              <td><span class="glyphicon glyphicon-list-alt"></span>
              <%= link_to(order_path(order)) do %>
                <strong><%= order.customer.first_name %> <%= order.customer.last_name %></strong> 
              <% end %>
              </td>
              <td><%= order.placed_date %></td> 
            </tr>
          <% end %>
        <% end %>
    </table>
  </div>
  <div class="col-sm-4">
    <h3>San Rafael</h3>
    <table class="table">
        <tr>
          <th>Name</th>
          <th>Placed Date</th>
        </tr>
        <% @orders.each do |order| %>
          <% if order.complete == false && order.store_location == "San Rafael" %>
            <tr>
              <td><span class="glyphicon glyphicon-list-alt"></span>
              <%= link_to(order_path(order)) do %>
                <strong><%= order.customer.first_name %> <%= order.customer.last_name %></strong> 
              <% end %>
              </td>
              <td><%= order.placed_date %></td> 
            </tr>
          <% end %>
        <% end %>
      </table>
  </div>
</div>