<% if @customer %>
<div class="row">
  <div class="col-lg-3">
<h2> Order  for <%= @customer.first_name %> <%= @customer.last_name %> </h2> <span> <%= button_to "Edit Order", edit_order_path(@order), method: :get%></span>
<span> <%= button_to "PDF Receipt", "#{order_path(@order)}.pdf", method: :get%></span>
    <h3> Order Info </h3>
    <% end %>
    <p> Place by: <%= @order.placed_by %> </p>
    <p> Date placed: <%= @order.placed_date %> </p>
    <p> Follow up date: <%= @order.follow_up_date %> </p>
    <h3>Address Info </h3>
    <p><%= "#{@customer.first_name}" %> <%="#{@customer.last_name}" %></p>
    <p><%= "#{@customer.address}" %></p>
    <p><%= "#{@customer.city}" %>, <%= "#{@customer.state}" %> <%= "#{@customer.zip_code}" %></p>

    <h3>Contact Info</h3>
    <p>Main Phone: <%= "#{@customer.phone_num}" %> </p>
    <p>Alternate Phone: <%="#{@customer.alt_phone_num}" %></p>
    <p>Email: <%="#{@customer.email}" %></p>

    <h3>Gift Info</h3>
    <p> Purchased by <%= @order.purchased_by %> </p>
    <p> Gift Note: <%= @order.gift_note %> </p>
  </div>
  <div class="col-lg-6">
    <h3>Products</h3>
    <table class="table table-striped">
      <tr>
        <th>Company:</th>
        <th>Model:</th>
        <th>Description:</th>
        <th>Price:</th>
      </tr>
      <% @order.products.each do |product| %>
        <tr>
          <td><%=product.company %></td>
          <td><%=product.model_type %></td>
          <td><%=product.description %></td>
          <td>$<%=product.price %></td>
        </tr>
      <% end %>
    </table>
    <p> Notes:  <%= @order.notes %> </p>
  </div>
  <div class="col-lg-3">
    <p> Items total: $ <%= @order.items_total %> </p>
    <p> Tax: $ <%= @order.tax %> </p>
    <p> Total w/ tax: $ <%= @order.total_with_tax %> </p>
    <p> Delivery: $ <%= @order.delivery %> </p>
    <p> Assembly: $ <%= @order.assembly %> </p>
    <h4> Grand total: $ <%= @order.grand_total %> </h4>
    <p> Deposit: $ <%= @order.deposit %> </p>
    <h4> Balance due: $ <%= @order.balance_due %> </h4>
    <p> Complete:  <%= @order.complete %> </p>
  </div>
</div>
  <div class="row">
    <div class="col-lg-3">
      <%= button_to "Delete Order", order_path(@order), confirm: 'Are you sure?', class: "btn btn-danger",method: :delete %>
    </div>
  </div>
