<div class="row">
  <div class="col-sm-5">
    <h2> Order for 
    <%=link_to @customer do %>
      <%= @customer.first_name %> <%= @customer.last_name %>
    <% end %>
    <% if @order.issue == true %> 
      <span class="glyphicon glyphicon-flag red"></span> 
    <% end %>
    </h2>
  </div>
  <div class="col-sm-2">
   
  </div>
  <div class="col-sm-2 order-show-address">
    <h4>Address Info <span class="caret"></span></h4>
    <p><%= "#{@customer.first_name}" %> <%="#{@customer.last_name}" %></p>
    <p><%= "#{@customer.address}" %></p>
    <p><%= "#{@customer.city}" %>, <%= "#{@customer.state}" %> <%= "#{@customer.zip_code}" %></p>
  </div>
  <div class="col-sm-3 order-show-address">
    <h4>Contact Info <span class="caret"></span></h4>
    <p>Main Phone: <%= number_to_phone(@customer.phone_num, area_code: true) %> </p>
    <p>Alternate Phone: <%= number_to_phone(@customer.alt_phone_num, area_code: true) %></p>
    <p>Email: <%="#{@customer.email}" %></p>
  </div>
</div>
<div class="row">
  <h3>Products</h3>
  <table class="table table-striped">
    <tr>
      <th>Company</th>
      <th>Model</th>
      <th>Description</th>
      <th>Price</th>
      <th>Discount</th>
      <th>Pick Up or Delivery?</th>
      <th>Ready in store?</th>
      <th>Received?</th>
      <th>Receiving Date</th>
    </tr>
    <% @products.each do |product| %>
      <tr>
        <td><span class="glyphicon glyphicon-tag"></span> <%=product.company %></td>
        <td><%= product.model_type %></td>
        <td><%= product.description %></td>
        <td><%= number_to_currency(product.price) %></td>
        <td><%= format_discount(product.discount) %></td>
        <td><%= product.pickup_or_delivery %></td>
        <td><%= product.ready ? "Yes" : "No" %></td>
        <td><%= product.picked_up ? "Yes" : "No" %></td>
        <td><%= product.pick_up_date != nil ? product.pick_up_date.strftime("%m/%d/%Y") : Date.today.strftime("%m/%d/%Y") %></td>
        <td>
          <%= link_to "Edit", edit_product_path(product), class: "btn btn-primary" %>
        </td> 
        <td>
          <%= form_for product, method: :delete, data: {confirm: "Are you sure you want to delete this product?"} do |f| %>
            <%= f.hidden_field :order_id, value: "#{@order.id}" %>
            <%= f.submit value: "Delete", class: "btn btn-danger" %>
          <% end %>
        </td>
      </tr>
    <% end %>
    <tr>
    <%= form_for @product, as: :product, url: products_path, method: :post do |f| %>
      <td><%= f.text_field :company, placeholder: "Company" %></td>
      <td><%= f.text_field :model_type, placeholder: "Model"%></td>
      <td><%= f.text_field :description, placeholder: "Description"%></td>
      <td><%= f.text_field :price, placeholder: "$", style: "width: 75px;"%></td>
      <td><%= f.select :discount, options_for_select(discount_options(), selected: "None" ) %> </td> 
      <%= f.hidden_field :order_id, value: "#{@order.id}" %>
      <%= f.hidden_field :pick_up_date,value:"#{Date.today}" %> 
      <td> 
        <%= f.select :pickup_or_delivery, [["Pick Up", "Pick Up"],["Delivery", "Delivery"]], selected: "Pick Up" %>
      </td>
      <td>
        <%= f.select :ready, [["Yes", true ],["No", false]], selected: false %>
      </td>
      <td><%= f.submit "Add Product", class: "btn-primary" %></td>
    </tr>
    <% end %>
  </table>
</div>
<div class="row">
  <div class="col-sm-3">
    <%= button_to "#{order_path(@order)}.pdf", method: :get, class:"btn btn-default" do %>
      <span class="glyphicon glyphicon-print"> Print Order </span>
    <% end %>
    <h4> Order No. <%= @order.id %> </h4>

    <%= form_for @order, url: {action: "update"} do |f| %>
      <p> Store Location: <%= f.select :store_location, ["Oakland","San Bruno","San Rafael"], value:"#{@order.store_location}" %></p>
      <p> Place by: <%= f.text_field :placed_by, value: "#{@order.placed_by}" %> </p>
      <p> Placed: <%= f.date_field :placed_date, value: "#{@order.placed_date}"  %> </p>
      <p> Follow: <%= f.date_field :follow_up_date, value: "#{@order.follow_up_date}"%></p>
      <h4>Gift Info</h4>
      <p> Purchased by: <%= f.text_field :purchased_by, value: "#{@order.purchased_by}" %> </p>
      <p> Gift Note: <br><%= f.text_area :gift_note, value: "#{@order.gift_note}" %> </p>
      <%= f.hidden_field :updated_by, value:"#{current_user.first_name}" %>
  </div>
  <div class="col-sm-5">
      <p> Notes: <br> <%= f.text_area :notes, value: "#{@order.notes}", style:"width:100%; height:300px" %> </p>
      <h5> Last updated by <%= @order.updated_by %> at <%= @order.updated_at.in_time_zone("Pacific Time (US & Canada)").strftime("%H:%M %Z on %m/%d/%Y") %> </h5>
      <p> Issue?: <%= f.select :issue,[["Yes",true],["No", false]], value:"#{@order.issue}" %> (See Notes for issue specifics) 
      </p>
  </div>
  <div class="col-sm-4">
      <p> Items total: <%= number_to_currency(@order.items_total) %> </p>
      <p> Charge Tax?:  <%= f.select :charge_tax, [["Yes",true],["No", false]], value:"#{@order.charge_tax}" %> </p>
      <p> Tax: <%= number_to_currency(@order.tax) %> </p>
      <p> Total w/ tax: <%= number_to_currency(@order.total_with_tax) %> </p>
      <p> Delivery/Shipping: $ <%= f.text_field :delivery, value: "#{number_to_currency(@order.delivery, unit: "", delimiter: "")}" %> </p>
      <p> Delivery/Shipping w/ tax: <%= number_to_currency(@order.delivery_with_tax) %> </p>
      <p> Assembly: $ <%= f.text_field :assembly, value: "#{ number_to_currency(@order.assembly, unit: "", delimiter: "")}" %> </p>
      <h4> Grand total: <%= number_to_currency(@order.grand_total) %> </h4>
      <p> Deposit: $ <%= f.text_field :deposit, value: "#{ number_to_currency(@order.deposit, unit: "", delimiter: "")}" %> </p>
      <h3> Balance due: <%= number_to_currency(@order.balance_due) %> </h3>
      <p> Complete:  <%= f.select :complete, [["Yes",true],["No", false]], value:"#{@order.complete}" %> </p>
      <br>
      <%= f.hidden_field :updated_by, value:"#{current_user.first_name}" %>
      <div class="row">
      <div class="col-sm-6"><%= f.submit "Update Order", class: "btn btn-primary"%></div>
    <% end %>
      <div class="col-sm-6">
        <%= link_to "Delete Order", order_path(@order), data: {confirm: "Are you sure you want to delete this order?"}, class: "btn btn-danger",method: :delete%>
        </div>
      </div>
  </div>
</div>
<h1> </h1>

