<div>
<h3> Add new product </h3>

<%= form_for @product, as: :product, url: products_path, method: :post do |f| %>

<%= f.label :company %>:<br>
<%= f.text_field :company %><br />

<%= f.label :model_type %>:<br>
<%= f.text_field :model_type %><br />

<%= f.label :description %>:<br>
<%= f.text_field :description %><br />

<%= f.label :price %>:<br>
<%= f.text_field :price %><br />

<%= f.hidden_field :order_id, value: "#{@order.id}" %>
<br>

<%= f.submit "Add Product", class: "btn-primary" %>

<% end %>

</div>