<div class="row">
  <div class="col-sm-6">
    <h2>
      <span class="glyphicon glyphicon-send"></span> Pick Ups - Deliveries for
      <% if @pick_up_date %>
        <% if Date.parse(@pick_up_date) == Date.today.in_time_zone("Pacific Time (US & Canada)") %>
          Today
        <% else %>
         <%= Date.parse(@pick_up_date).strftime("%m/%d/%Y") %>
        <% end %>
      <% else %>
          Today
      <% end %>
    </h2>
  </div>
  <div class="col-sm-6">
    <%= form_tag(products_path, method: "get") do %>
      <%= date_field_tag(:date, "Pick Ups for:", value: "#{@pick_up_date ? @pick_up_date : Date.today}") %>
      <%= submit_tag("Go To Pick Up Date", class:"btn btn-sm btn-primary") %>
    <% end %>
  </div>
</div>
  <div class="row" >
    <table class="table table-striped">
      <tr>
        <th>Company</th>
        <th>Model</th>
        <th>Description</th>
        <th>Price</th>
        <th>Discount</th>
        <th>Pick Up or Delivery?</th>
        <th>Receiving Date</th>
        <th>Received?</th>
        <th> </th> 
        <th>Print</th> 
        <th>Order</th>
      </tr>
      <% if @pick_up_products.length > 0 %>
        <% @pick_up_products.each do |product| %>
          <tr>
            <td><span class="glyphicon glyphicon-tag"></span> <%=product.company %></td>
            <td><%=product.model_type %></td>
            <td><%=product.description %></td>
            <td><%=number_to_currency(product.price) %></td>
            <td><%=format_discount(product.discount) %></td>
            <%= form_for product, method: :patch do |f| %>
              <%= hidden_field_tag "products_index", "true" %>
              <%= f.hidden_field :order_id, value: "#{product.orders.first.id}" %>
              <td>
                <%= product.pickup_or_delivery %>
              </td>
              <td>
                <%= f.date_field :pick_up_date, value: "#{product.pick_up_date}" %>
              </td>
              <td>
                <%= f.select :picked_up, [["Not yet", false],["Yes", true]], selected: "#{product.picked_up != nil ? product.picked_up : "Not yet"}" %>
              </td>
              <td>
                <%= f.submit value: "update", class: "btn-primary" %>
              </td>
            <% end %>
            <% orders = product.orders %>
            <% if orders.length > 0 %>
                <td>
                <% orders.each do |order| %>
                  <%= button_to "#{order_path(order)}.pdf", method: :get, class:"btn btn-default" do %>
                    <span class="glyphicon glyphicon-print"></span>
                <% end %>
                </td>
                <td>
                  <%= link_to(orders.first) do %>
                    <span class="glyphicon glyphicon-list-alt"></span>
                    <%= orders.first.customer.first_name %> <%= orders.first.customer.last_name %> - <%= orders.first.store_location %>
                  <% end %>
                </td>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      <% else %>
      <tr>
        <td>
          <h4>No Pick Ups or Deliveries</h4>
        </td>
      </tr>
      <% end %>
    </table>
  </div>

<% if params[:q] %>
  <h2> Products result for "<%= params[:q] %>" </h2>
<% else %>
  <h2>Products</h2>
<% end %>
<%= form_tag(products_path, method: "get") do %>
  <%= label_tag(:q, "Search for Products:") %>
  <%= text_field_tag(:q, nil, placeholder:"Company, Model or Description", style:"width:220px;") %>
  <%= submit_tag("Search", class:"btn btn-sm btn-primary") %>
<% end %>
<br>
<h3>Pending Orders</h3>
<table class="table table-striped">
  <tr>
    <th>Company</th>
    <th>Model</th>
    <th>Description</th>
    <th>Price</th>
    <th>Picked Up?</th>
    <th>Pick Up Date</th>
    <th>Orders</th>
  </tr>
  <% @products.each do |product| %>
    <% if product.orders.first.complete != true %>
    <tr>
      <td><span class="glyphicon glyphicon-tag"></span> <%= product.company %></td>
      <td><%= product.model_type %></td>
      <td><%= product.description%></td>
      <td><%= number_to_currency(product.price) %></td>
      <td><%= product.picked_up ? "Yes" : "Not Yet" %></td>
      <td><%= product.pick_up_date != nil ? product.pick_up_date.strftime("%m/%d/%Y") : "" %></td>
      <% orders = product.orders %>
        <% if orders.length > 0 %>
          <% orders.each do |order| %>
            <td>
              <%= link_to(order) do %>
                <span class="glyphicon glyphicon-list-alt"></span>
                <%= order.customer.first_name %> <%= order.customer.last_name %> - <%= order.store_location %>
              <% end %>
            </td>
        <% end %>
      <% end %>
    <% end %>
    </tr>
  <% end %>
</table>
<h3>Completed Orders</h3>
<table class="table table-striped">
  <tr>
    <th>Company</th>
    <th>Model</th>
    <th>Description</th>
    <th>Price</th>
    <th>Picked Up?</th>
    <th>Pick Up Date</th>
    <th>Orders</th>
  </tr>
  <% @products.each do |product| %>
    <% if product.orders.first.complete == true %>
    <tr>
      <td><span class="glyphicon glyphicon-tag"></span> <%= product.company %></td>
      <td><%= product.model_type %></td>
      <td><%= product.description%></td>
      <td><%= number_to_currency(product.price) %></td>
      <td><%= product.picked_up ? "Yes" : "Not Yet" %></td>
      <td><%= product.pick_up_date != nil ? product.pick_up_date.strftime("%m/%d/%Y") : "" %></td>
      <% orders = product.orders %>
        <% if orders.length > 0 %>
          <% orders.each do |order| %>
            <td>
              <%= link_to(order) do %>
                <span class="glyphicon glyphicon-list-alt"></span>
                <%= order.customer.first_name %> <%= order.customer.last_name %> - <%= order.store_location %>
              <% end %>
            </td>
        <% end %>
      <% end %>
    <% end %>
    </tr>
  <% end %>
</table>

