<% if params[:q] %>
<h2> Products result for "<%= params[:q] %>" </h2>
<% else %>
<h2>All Product</h2>
<% end %>
<%= form_tag(products_path, method: "get") do %>
      <%= label_tag(:q, "Search for Products:") %>
      <%= text_field_tag(:q) %>
      <%= submit_tag("Search") %>
<% end %>
<br>
<table class="table table-striped">
  <tr>
    <th>Company</th>
    <th>Model</th>
    <th>Description</th>
    <th>Price</th>
    <th>Orders</th>
  </tr>
  <% @products.each do |product| %>
    <% if product.orders.first.complete != true %>
    <tr>
      <td><%= product.company %></td>
      <td><%= product.model_type %></td>
      <td><%= product.description%></td>
      <td>$<%= format_price(product.price) %></td>
      <% orders = product.orders %>
        <% if orders.length > 0 %>
          <% orders.each do |order| %>
            <td>
              <%= link_to(order) do %>
                <%= order.customer.first_name %> <%= order.customer.last_name %> 
              <% end %>
            </td>
        <% end %>
      <% end %>
    <% end %>
    </tr>
  <% end %>
</table>

